NEXT_PUBLIC_SITE_URL=https://allthingsmcp.com
NEXT_PUBLIC_GITHUB_REPO=https://github.com/allthingsmcp/allthingsmcp
NEXT_PUBLIC_SUBSTACK_URL=https://allthingsmcp.substack.com
NEXT_PUBLIC_SUBSTACK_EMBED_URL=https://allthingsmcp.substack.com/embed
NEXT_PUBLIC_VERCEL_ANALYTICS=false
